.userInfo {
    min-height: 600px;
    text-align: center;
}

.userData {
    min-height: 600px
}

.title {
    padding-top: 10px;
}

.prefix {
    float: left;
}

.dataInfo {
    margin-top: 10px
}

.d_googleMap {
    min-height: 400px;
    position: relative;
    width: 90%;
    height: 90%;
    margin: 5%;
    border: 2px;
    border-color: lightpink;
    border-style: outset
}

.locationImage {
    border-radius: 50%
}